quests/11_Controls_ifs_GoogleFiles.json.json
{
  "name": "11_Controls_ifs_GoogleFiles.json",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        96
      ],
      "id": "83a5efd2-ba34-4638-ae65-1183b844da78",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1CFjoMcCffs_fw71AZnXi9piIdpJDOCYx",
            "mode": "list",
            "cachedResultName": "resources",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1CFjoMcCffs_fw71AZnXi9piIdpJDOCYx"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        96
      ],
      "id": "bfc85d9d-801e-4552-9cee-ceef0d6d053b",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PUorQE0F3HJmuYU5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        96
      ],
      "id": "0399c532-940c-4796-a38d-2aa4636c8bf3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1AkUpU9ISILrCfvprK9Lvkq8mDMP2EElM",
          "mode": "list",
          "cachedResultName": "triggers",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AkUpU9ISILrCfvprK9Lvkq8mDMP2EElM"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        96
      ],
      "id": "aceb3dec-4c0c-4c7f-a650-25ecfbe194b8",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PUorQE0F3HJmuYU5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1a5356b-38b0-478d-974a-494902836eff",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        96
      ],
      "id": "143aefad-bafd-4a44-a7fa-aa7e966b6655",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "8214cd98-35e5-4064-8928-373c66b4467a",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "dTAgMcfjaLISOivL",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hOGI5BzYKVCMRV1KQRXqaxu9GW5L4EG4Pwl3fco_v1o/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        192
      ],
      "id": "ed93654a-12d0-424c-9781-df12683e68f5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gWGP0om5wxWZpMTC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=아래 내용을 분석해서 한 줄로 정리 \n\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1344,
        0
      ],
      "id": "99bf0746-0b95-4253-98dc-5a35cab647ea",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "6WGKKDKmdmsZtvzG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/10EdJB-EZbKjpxjuOAe08BjQC_uL_g_QRSkf19Mc9cns/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025_10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10EdJB-EZbKjpxjuOAe08BjQC_uL_g_QRSkf19Mc9cns/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "파일링크": "{{ $('Search files and folders').item.json.webViewLink }}",
            "한줄정리": "{{ $json.content.parts[0].text }}",
            "입력날짜": "{{ $('Search files and folders').item.json.createdTime }}",
            "파일의종류": "{{ $('If').item.json.mimeType }}",
            "파일명": "{{ $('If').item.json.name }}"
          },
          "matchingColumns": [
            "파일링크"
          ],
          "schema": [
            {
              "id": "한줄정리",
              "displayName": "한줄정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력날짜",
              "displayName": "입력날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일의종류",
              "displayName": "파일의종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일링크",
              "displayName": "파일링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        0
      ],
      "id": "0c983b6e-ae8a-4bdf-af17-7d4192cd27a8",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gWGP0om5wxWZpMTC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('If').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1JblxGBhCqcA5ZwB17ii7GVy7quNvYz-b",
          "mode": "list",
          "cachedResultName": "docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JblxGBhCqcA5ZwB17ii7GVy7quNvYz-b"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2048,
        0
      ],
      "id": "bae71b20-c6e2-48e1-aa48-0a679522998f",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PUorQE0F3HJmuYU5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "주요 긍정 피드백"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1408,
        192
      ],
      "id": "5106a82b-c0b8-4c52-af58-4fbf4f7cdea9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=분석 내용을 한줄로 정리\n\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1696,
        192
      ],
      "id": "dc0d80c9-cfb7-453a-9b73-af077c409948",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "6WGKKDKmdmsZtvzG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/10EdJB-EZbKjpxjuOAe08BjQC_uL_g_QRSkf19Mc9cns/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025_10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10EdJB-EZbKjpxjuOAe08BjQC_uL_g_QRSkf19Mc9cns/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "파일링크": "{{ $('Search files and folders').item.json.webViewLink }}",
            "한줄정리": "{{ $json.content.parts[0].text }}",
            "입력날짜": "{{ $('Search files and folders').item.json.createdTime }}",
            "파일의종류": "{{ $('If').item.json.mimeType }}",
            "파일명": "{{ $('If').item.json.name }}"
          },
          "matchingColumns": [
            "파일링크"
          ],
          "schema": [
            {
              "id": "한줄정리",
              "displayName": "한줄정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력날짜",
              "displayName": "입력날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일의종류",
              "displayName": "파일의종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일링크",
              "displayName": "파일링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        192
      ],
      "id": "f2770c80-b7d3-45cc-9075-e022c74d8395",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gWGP0om5wxWZpMTC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('If').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1u_0diVJrNB2yrdxXU_ZkwylXGECE5D2s",
          "mode": "list",
          "cachedResultName": "sheets",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1u_0diVJrNB2yrdxXU_ZkwylXGECE5D2s"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2272,
        192
      ],
      "id": "f237a24d-0834-4a02-a48e-e5e029902c06",
      "name": "Move file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PUorQE0F3HJmuYU5",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Move file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "18824dc9-0e41-42c7-b9df-60b0ff55e0b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "60d5f904bb8cabf65f5f764583e743909db2da9ba2ffbc6b5a21c0b7844bee39"
  },
  "id": "ZX5F3RWoFYHclAMm",
  "tags": []
}