quests/My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "chatId": "8433988025",
        "text": "=n8n에서 보냅니다\n제목: {{ $json.title }}\n발행일:{{ $json.pubDate }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        -240
      ],
      "id": "e71f7057-be8d-47dd-9bd4-f73f6b67f49e",
      "name": "Send a text message",
      "webhookId": "0d3acff4-7d13-4130-9ac8-4445579af56c",
      "credentials": {
        "telegramApi": {
          "id": "fkxTSodPzTipBM7s",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        -96
      ],
      "id": "711ae1da-46cf-4309-9fae-e42a0c49bc6c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://news.sbs.co.kr/news/headlineRssFeed.do?plink=RSSREADER",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        64,
        144
      ],
      "id": "ad3493ec-6cb4-4f64-8903-74db7dae6d0f",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 3,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        272,
        144
      ],
      "id": "b1ead914-e5db-468d-886f-f18ee346d287",
      "name": "Limit"
    },
    {
      "parameters": {
        "chatId": "8433988025",
        "text": "=n8n에서 보냅니다\n제목: {{ $json.title }}\n발행일:{{ $json.pubDate }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        144
      ],
      "id": "8b64b309-0aa5-48a7-a2c4-97d3dfd0e74a",
      "name": "Send a text message1",
      "webhookId": "0d3acff4-7d13-4130-9ac8-4445579af56c",
      "credentials": {
        "telegramApi": {
          "id": "fkxTSodPzTipBM7s",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.yna.co.kr/rss/industry.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        80,
        -240
      ],
      "id": "d0ddb5a2-9640-4466-8b0d-d4ceb4be1584",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "maxItems": 3,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        320,
        -240
      ],
      "id": "9711fb36-99f2-4edd-9524-5c8b6e394e1f",
      "name": "Limit1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f5027f8a-8d9e-4b07-b630-ba32b7515aa4",
  "meta": {
    "instanceId": "37133f35d80fd619101e11ab2ed033188a34b3bfc2e56f72910039a30e883e60"
  },
  "id": "IbNmU7D0hQXmoqJo",
  "tags": []
}