quests/quests14_send_email_inbulk.json.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        72
      ],
      "id": "18544a87-0654-45d3-a68f-9bcfcc5c5f2a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/1/folders/10Sn61xFukZxJPnXpffqNB8bYj8NFhB4S",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        72
      ],
      "id": "806e9103-99bd-4d0f-ad1f-9a725c82e8f6",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sF8gIp83wA2kDCTr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        72
      ],
      "id": "be12f032-0de7-4883-8d89-c9746a8e2ec9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        0
      ],
      "id": "a4a07539-d914-4866-93b0-edb47c58af1c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sF8gIp83wA2kDCTr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "data_result",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ],
      "id": "1ed32c7a-21d8-4b6c-999a-31ad4184943f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1e71woLZZzkXq2DBqRq93VZxxkOP2wM9vn0h9HAgAv8k/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e71woLZZzkXq2DBqRq93VZxxkOP2wM9vn0h9HAgAv8k/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        0
      ],
      "id": "c774070a-2ddd-4a49-8866-01f97ad39ead",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Hhk15W9KTOvZt56M",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['option gmail'] }}",
        "subject": "={{ $('Download file').item.json.name }}",
        "message": "={{ $('Extract from File').item.json.data_result }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        72
      ],
      "id": "5e041884-6d35-4aad-9ce3-ce2c412b9758",
      "name": "Send a message",
      "webhookId": "978a0e25-29a0-4832-bbac-d2f2dbeb434d",
      "credentials": {
        "gmailOAuth2": {
          "id": "giw8YMifrxtmzNK5",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81a4b936-a059-4579-9dc5-c769c063afdd",
  "meta": {
    "instanceId": "5e3bf45a78995d162cfee19b84daa7ba6918e42fe76be053e8a8ca04f4240d1e"
  },
  "id": "SdTO5f7BsLxMtnws",
  "tags": []
}